apiVersion: v1
kind: Service
metadata:
  name: cortexia-ollama
  namespace: cortexia
  labels:
    app: cortexia-ollama
spec:
  ports:
    - port: 11434
      name: http
  clusterIP: None
  selector:
    app: cortexia-ollama
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cortexia-ollama
  namespace: cortexia
spec:
  serviceName: "cortexia-ollama"
  replicas: 1
  selector:
    matchLabels:
      app: cortexia-ollama
  template:
    metadata:
      labels:
        app: cortexia-ollama
    spec:
      containers:
        - name: ollama
          image: ollama/ollama:latest
          ports:
            - containerPort: 11434
              name: http
          volumeMounts:
            - name: ollama-data
              mountPath: /root/.ollama
  volumeClaimTemplates:
    - metadata:
        name: ollama-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 10Gi
